/* Base Application Styles */
body {
    background-color: turquoise;
}

.app {
  color: green;
  max-width: 500px;
  /* margin: 0 auto; */
  margin: 5%;
  font-family: courier;
}

h1 {
  text-decoration: underline;
}

h3 {
  text-decoration: italic;
}

.todo-item {
  padding: 0.4em 0;
  cursor: pointer;
  color: #333;
  font-size: 20px;
}

.todo-item.done {
  text-decoration: line-through;
}
